@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

body {
}

body > main > section {
    position: relative;
    min-height: min(100vh, 900px);
    width: 100%;
}

body > main > section.clamp {
    height: min(100vh, 900px);
}

body > main > section > div.wrapper {
    position: relative;
    max-width: 1536px;
    padding: 2rem 4rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}