@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

body {
}

body > main > section {
    position: relative;
    min-height: min(100vh, 900px);
    width: 100%;
}

body > main > section.clamp {
    height: min(100vh, 900px);
}

.ignoreMinHeight {
    height: auto !important;
    min-height: 0 !important;
}

body > main > section > div.wrapper {
    position: relative;
    max-width: 1536px;
    padding: 2rem 4rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* small screens */
@media (max-width: 768px) {
    body > main > section > div.wrapper {
        padding: 2rem 1rem;
    }
}

.balance{
    text-wrap: balance;
}